{% extends "layouts/base.html" %}
{% block content %}
    <div class="wrapper">
        <form action="/login" method="POST" enctype="multipart/form-data">
            <div class="form-element">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="form-element">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Login</button>

            {% if response %}
                <p error>{{ response }}</p>
            {% endif %}
        </form>
    </div>
{% endblock content %}
